<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name="com.kieronquinn.app.smartspacer.plugin.medicationreminder.MedicationReminderPlugin"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smartspacer">

        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddEditMedicationActivity"
            android:label="Add/Edit Medication"
            android:exported="false"/>

        <provider
            android:name=".provider.MedicationReminderProvider"
            android:authorities="${applicationId}.provider.medicationreminder"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_PROVIDERS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.provider.SMARTSPACER_PROVIDER" />
            </intent-filter>
        </provider>

        <receiver
            android:name=".receiver.MedicationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.ACTION_MARK_AS_TAKEN" />
                <action android:name="${applicationId}.ACTION_SNOOZE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>